html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
header {
  width: 100%;
  height: 5vh;
  background-color: rgba(52, 152, 219, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header span {
  color: #fff;
}
header a {
  width: 6vw;
  height: 5vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #eee;
  opacity: 0.7;
  transition: all 0.35s;
  right: 0;
  top: 0;
}
header a::after {
  content: "";
  width: 3vh;
  height: 3vh;
  background: url(./lib/github.svg) no-repeat center center;
  background-size: 65%;
  transition: all 0.35s;
}
.video_out,
.btn_out {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.video_out {
  flex: 1;
}

.btn_out {
  height: 10vh;
  justify-content: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
.video_cell {
  width: 48%;
  height: 50%;
  display: flex;
  justify-content: center;
  background-color: #ccc;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
video {
  height: 100%;
  width: auto;
  max-width: 100%;
}
button {
  border: none;
  outline: none;
  color: #fff;
  margin: 0 10px;
  background-color: #3498db;
  padding: 8px 60px;
  cursor: pointer;
  transition: all 0.35s;
}
button:hover {
  opacity: 0.8;
}
button:disabled {
  background-color: #3498db70;
  color: #eee;
}
